<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="line" value="------------------------------------------------------------------------------------------------------------------------"/>
  <variable name="logDirectory" value="${baseDir}/Logs"/>
  <variable name="defaultHeader" value="${line}${newline}${date:format=yyyy-MM-dd HH\:mm\:ss.fff K}${newline}"></variable>
  <variable name="defaultException" value="${exception:format=tostring}${when:when=length('${exception:format=Data}')>0:Inner=${newline}${exception:format=Data}}${newline}${exception:format=TargetSite}${newline}${exception:format:Source}"></variable>
  
  <targets>
    <target xsi:type="File"
            name="errorsFile"
            fileName="${logDirectory}/Errors.log"
            layout="${defaultHeader}${onexception:${defaultException}}${message:when='message'!=''}"
            archiveEvery="Day"
            archiveFileName="${logDirectory}/Errors/Errors.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="2097152" />
    <target xsi:type="File"
            name="pronunciationAPIErrorsFile"
            fileName="${logDirectory}/PronunciationErrors.log"
            layout="${defaultHeader}${onexception:${defaultException}}${message:when='message'!=''}"
            archiveEvery="Day"
            archiveFileName="${logDirectory}/PronunciationAPIErrors.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="2097152" />
    <target xsi:type="File"
            name="debugFile"
            fileName="${logDirectory}/Debug.log"
            layout="${line}${newline}${date:format=yyyy-MM-dd HH\:mm\:ss.fff K}${newline}${message}"
            archiveEvery="Day"
            archiveFileName="${logDirectory}/Debug.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="2097152" />
    <target xsi:type="File"
            name="maintainingModeFile"
            fileName="${logDirectory}/MaintainingMode.log"
            layout="${line}${newline}${date:format=yyyy-MM-dd HH\:mm\:ss.fff K}${newline}${message}"
            archiveEvery="Day"
            archiveFileName="${logDirectory}/MaintainingMode.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="2097152" />
    <target xsi:type="File"
            name="learningModeFile"
            fileName="${logDirectory}/LearningMode.log"
            layout="${line}${newline}${date:format=yyyy-MM-dd HH\:mm\:ss.fff K}${newline}${message}"
            archiveEvery="Day"
            archiveFileName="${logDirectory}/LearningMode.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="2097152" />
  </targets>

  <rules>
    <logger name="Lexica.CLI.Modes.Maintaining.MaintainingModeExecutor" minlevel="Debug" writeTo="maintainingModeFile" final="true" />
    <logger name="Lexica.CLI.Modes.Learning.LearningModeExecutor" minlevel="Debug" writeTo="learningModeFile" final="true" />
    <logger name="Lexica.Pronunciation.IPronunciation" minlevel="Error" writeTo="pronunciationAPIErrorsFile" final="true" />
    <logger name="*" minlevel="Error" writeTo="errorsFile" />
  </rules>
</nlog>