<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="line" value="------------------------------------------------------------------------------------------------------------------------"/>
  
  <targets>
    <target xsi:type="File"
            name="errorsFile"
            fileName="${baseDir}/Logs/${date:format=yyyy-MM-dd}/Errors.log"
            layout="${line}${newline}${date:format=yyyy-MM-dd HH\:mm\:ss.fff K}${newline}${exception:format=tostring}${when:when=length('${exception:format=Data}')>0:Inner=${newline}${exception:format=Data}}${newline}${exception:format=TargetSite}${newline}${exception:format:Source}" />
    <target xsi:type="File"
            name="debugFile"
            fileName="${baseDir}/Logs/${date:format=yyyy-MM-dd}/Debug.log"
            layout="${line}${newline}${date:format=yyyy-MM-dd HH\:mm\:ss.fff K}${newline}${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="errorsFile" />
    <logger name="*" level="Debug" writeTo="debugFile" />
  </rules>
</nlog>